@import "../helper/variables";

$breakpoints: (
        "small": 0px,
        "large": 900px,
);
@mixin media-min($_key) {
  @media screen and (min-width: map-get($breakpoints, $_key)) {
    &{ @content; }
  }
}


.loginForm{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border: 1px solid red;
  display: flex;
  margin: 0 auto;

  @include media-min("small") {
    height: 600px;
    width: 80%;
    flex-direction: column;
    .signIn{
      flex: 3;
      background: green;
    }

    .signUp{
      flex: 1;
      background: red;
    }
  }
  @include media-min("large") {
    height: 400px;
    flex-direction: row;
    width: 800px;
    .signIn{
      flex: 4;
      background: green;
    }

    .signUp{
      flex: 2;
      background: red;
    }
  }
}