{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    {% include 'components/_message_flash.html.twig' %}
    <div class="loginForm">
        <article class="signIn"></article>
        <article class="signUp"></article>
    </div>
{% endblock %}
