{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    {% include 'components/_message_flash.html.twig' %}

    <h1>Forgot password</h1>
    {{ form_start(forgot_password) }}
    {{ form_row(forgot_password.email) }}
    <button type="submit" class="btn btn-success">Send</button>
    {{ form_end(forgot_password) }}
{% endblock %}