{% extends 'base.html.twig' %}

{% block title %}Send Confirmation Email{% endblock %}

{% block body %}
    {% include 'components/_message_flash.html.twig' %}

    <h1>Send confirmation email</h1>

    {{ form_start(resend_confirmation_email) }}

    {{ form_row(resend_confirmation_email.email) }}

    {{ form_row(resend_confirmation_email.password, {
        label: 'Password'
    }) }}

    <button type="submit" class="btn btn-success">Send</button>
    {{ form_end(resend_confirmation_email) }}
{% endblock %}