{% extends 'base.html.twig' %}

{% block title %}Retrieve Password{% endblock %}

{% block body %}
    {% include 'components/_message_flash.html.twig' %}

    <h1>Retrieve password</h1>
    {{ form_start(retrieve_password_form) }}
    {{ form_row(retrieve_password_form.password) }}
    <button type="submit" class="btn btn-success">Send</button>
    {{ form_end(retrieve_password_form) }}
{% endblock %}