<h1>Hi! Retrieve your password</h1>

<p>
    Please retrieve your password by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">retrieve password</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
